<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/visitor.jpg" style="width: 300px; height: 200px;"></p>
    <p>Contact us about visiting!</p>
<%- include('../partials/footer') %>