<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/downtown-santa-barbara.jpg" style="width: 300px; height: 200px;"></p>
    <p>Dining Scene</p>
<%- include('../partials/footer') %>