<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/santa-barbara-art-galleries.jpg" style="width: 300px; height: 200px;"></p>
    <p>Galleries along the beach</p>
<%- include('../partials/footer') %>