<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/sb.jpg" style="width: 300px; height: 200px;"></p>
    <p>Beatiful Scenery!</p>
<%- include('../partials/footer') %>